[Unit]
Description=EVNotify Python Service
Wants=gpsd.service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
WorkingDirectory=/opt/evnotipi
ExecStart=/opt/evnotipi/evnotipi.py
ExecStartPre=-rfcomm release 0
ExecStartPre=-rfcomm bind hci0 00:1D:A5:00:00:3C
RestartSec=5s
Restart=on-failure
WatchdogSec=1m
TimeoutStartSec=5m

[Install]
WantedBy=multi-user.target

